{% extends 'base.html' %}
{% block content %}
<h1>Entry Fee History</h1>
<table class="table">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Batch Name</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.filename }}</td>
            <td>{{ file.batch_name }}</td>
            <td>{{ file.date }}</td>
            <td>
                <a href="/entry_fee/download/{{ file.filename }}">Download</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('students') }}">Back to Students</a>
{% endblock %}