<!-- templates/login.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div style="max-width: 400px; margin: 100px auto;">
        <h1>Admin Login</h1>
        <form method="post">
            <label>Username:</label><input type="text" name="username" class="form-control"><br>
            <label>Password:</label><input type="password" name="password" class="form-control"><br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>